@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Montserrat', 'Inter', system-ui, sans-serif !important;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Inter', system-ui, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
